.navbar{
height:80px;
padding-top: 15px;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
}
.navbar-brand{
font-size: 3em;
display: inline;
}
button#userQuery{
display: block;
margin-top: 1px;
background-color: transparent;
border: 3px white solid;
font-weight: bold;
}
button#userQuery:hover{
background-color: transparent;
}
.navbar-inverse {
background-color: #F46800;
color: #fff;
border: 0;
}
.navbar-inverse .navbar-brand {
color: #fff;
}
.navbar-inverse .navbar-brand:hover {
color: #ccc;
}
.trackRank {
font-family: monospace;
font-size: 0.5em;
}
.trackTitle {
font-weight: bold;
font-size: 0.5em;
}
.trackUsername {
font-size: 0.5em;
}
//* {
//-webkit-border-radius: 0 !important;
//-moz-border-radius: 0 !important;
//border-radius: 0 !important;
//}
